{% extends 'questions/index.html.twig' %}



{% block title %}Ajouter une question{% endblock %}



{% block content %}
    <h1 class="text-center mt-2">Ajouter une question</h1>

    {{ include('questions/_form.html.twig') }}
{% endblock %}



