<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} LOGO NAME - Accueil {% endblock %} </title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/users/css/base.css"/>
         {% block css %}  {% endblock %}


        <script src="https://kit.fontawesome.com/128f69e9e2.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {% block header %}
            <header>
                <h1 class="logo"> <a href="{{ path('questions_index')}}" class="text-white"> NIGHT GAMES </a> </h1>
            </header>

        {% endblock %}


        {% block content %}

        {% endblock %}

        {% block footer %}
        <footer>
            <h2> © <a href="https://www.linkedin.com/in/andrew-mahe/">Andrew Mahé</a> -  2019-2020 - Tous droits réservés. </h2>
        </footer>
        {% endblock %}


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
